* {
  margin: 0;
  padding: 0;
  bottom: 0;
}

body {
  width: 100%;
  max-width: 1000px;
  background-color: rgba(231, 150, 120, 0.685);
  margin: 20px;
  padding: 20px;
  position: relative;
  top: 0;
}

h4 {
  font-size: 50px;
  color: rgb(255, 0, 0);
  text-seze: 30px;
  margin: ;
  top: 300px;
  transform: translate(20%);
  transition: 20s;
  position: fixed;
}

h5 {
  font-size: 25px;
  color: rgba(21, 13, 133, 0.76);
  position: relative;
  left: 0;
  top: 100px;
}

.foto2 {
  width: 800px;
  margin-top: 0;
  transform: rotate(130deg);
  transition: 20s;
}

h1 {
  font-size: 80px;
  color: darkslateblue;
  position: fixed;
  margin: ;
  left: 20;
  top: 300px;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  color: chocolate;
}

h6 {
  font-size: 25px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}

p {
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.contactos {
  background-color: rgb(245, 198, 43);
  width: 300px;
  font-size: 15px;
  text-align: center;
  position: relative;
  left: 0;
  top: 50px;
}

.celulares {
  position: relative;
  left: 320px;
  font-size: 15px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
  flex-wrap: wrap;
}

.repuesto {
  left: 650px;
  font-size: 15px;
  background-color: rgb(245, 198, 43);
  width: 280px;
  height: 60px;
  text-align: center;
}

.belleza {
  position: relative;
  left: 300px;
  font-size: 15px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}
.toner {
  position: relative;
  bottom: -200px;
  font-size: 15px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}

.hover {
  position: relative;
  bottom: -200px;
  left: 10em;
  font-size: 15px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}

a {
  font-size: 25px;
  text-decoration: none;
}
