body {
  background-color: darksalmon;
}

h1 {
  font-size: 80px;
  color: white;
  text-align: center;
}

h6 {
  font-size: 25px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}

p {
  font-size: 25px;
  color: gold;
  text-align: center;
}

.celulares {
  position: relative;
  left: 320px;
  font-size: 10px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}

.repuestos {
  position: relative;
  left: 650px;
  font-size: 10px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}

.Tienda {
  position: relative;
  left: 1000px;
  font-size: 10px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}
.toner {
  position: relative;
  bottom: -200px;
  font-size: 10px;
  background-color: rgb(245, 198, 43);
  width: 250px;
  height: 60px;
  text-align: center;
}

a {
  font-size: 25px;
  text-decoration: none;
}

img {
  width: 800px;
  margin: ;
  flex-wrap: wrap;
}
